div.right {text-align: right;}
div {border: 1px;background-color: white;border-radius: 20px;}
a {color: #2e3f49;}
html {scroll-behavior: smooth;}
hr {height:5px;border-width:0;color:white;background-color:white;}
body {text-align:left;background-color:#2e3f49;}